<div class="container">
  <div class="right-div">
    <h1>Adventure Website</h1>
    <button appTalkative></button>
  </div>
  <div class="left-div">
    <div class="input-div">
      <div class="input-div2">
        <input class="input" type="text" [(ngModel)]="input">
        <button (click)="addInput()">Add</button>
      </div>

      <p>{{input|errorMessage:10}}</p>

      <button (click)="getResult()">Spin The Wheel</button>
      <p [ngClass]="'showColor'">{{results}}</p>
    </div>
  </div>


</div>